{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
<script>
// datepicker from https://bootstrap-datepicker.readthedocs.io
    $(document).ready(function(){
      var date_input = $('.date'); //our date input has the name "date"
      var options = {
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
    $('.datepicker').on('click', function(e) {
   e.preventDefault();
   $(this).attr("autocomplete", "off");
});

var autocomplete;
function initialize() {
  var autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete')),
      { types: ['geocode','establishment'] });
  var autocomplete2 = new google.maps.places.Autocomplete(
      (document.getElementById('autocomplete2')),
      { types: ['geocode','establishment'] });

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
  });
  google.maps.event.addListener(autocomplete2, 'place_changed', function() {
  });
}


</script>
{% endblock %}
{% block app_content %}
<body onload="initialize()">
<a class="btn btn-default" style="margin-bottom:1vh"
   href="{{ url_for('edit_forms', file_id=request.base_url.rpartition('//')[2].split('/')[2]) }}"><i
        class="fas fa-long-arrow-alt-left"></i> Return</a>
<div class="row">
    <div class="col-md-4">
        <h1>Add a route</h1>
        <form method="post" role="form" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.description, onInput="TextCounter(this, 140);", placeholder="Purpose of journey") }}
            <p class="helper d-none">0 / 140</p>
            {{ wtf.form_field(form.start,id="autocomplete2") }}
            {{ wtf.form_field(form.destination,id="autocomplete")}}
            {{ wtf.form_field(form.return_trip)}}
            {{ wtf.form_field(form.date_start,class="form-control date",placeholder="dd/mm/yyyy") }}
            {{ wtf.form_field(form.date_end,class="form-control date",placeholder="dd/mm/yyyy") }}
            {{ wtf.form_field(form.submit, class="custom_shadow custom_shadow btn btn-primary", style="margin-bottom:5px;") }}
        </form>
    </div>
    {% if start %}
    <div class="col-lg-7 col-md-6 ml-auto d-none d-md-block" style="height: 45vw; width: 40vw; margin-right:50px;">
        <div class="row">
            <iframe style='position: absolute; background: transparent; width: 100%; height:100%;'
                    src={{url_for('load_map',start=start,end=end)}} frameborder="0"></iframe>
        </div>
    </div>
    {% endif %}
</div>
</body>
{% endblock %}