{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Choose a file</h1>
    <form class="form" method="post" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.file() }}<br>
            {% for error in form.file.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {% if form.file.errors%}
                <br>
            {% endif %}

        {{ wtf.form_field(form.submit, class="btn btn-primary", style="margin-top:1vh;") }}

    </form>
{% endblock %}
