{% extends "base.html" %}

{% block app_content %}

{% if forms %}
  <a class="btn btn-primary" style="margin-bottom:2vh"href="{{ url_for('new_form') }}"><i class="fas fa-folder-plus"></i> New reclaim form</a>
    <table class="table table-responsive table-hover table-sm" cellspacing="0" style="height:20vh">
    <thead>
    <tr>
      <th>Name</th>
      <th style="word-wrap: break-word;">Description</th>
      <th>Time created</th>
      <th>Sent</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      {% for form in forms %}
        <tr id="override">
          <td><a href={{url_for('edit_form',file=form.id)}}>{{ form.filename }}<a></td>
          <td>{{ form.description }}</td>
          <td>{{ form.date_created.strftime("%H:%M %d/%m/%Y") }}</td>
          <td>{{ form.sent }}</td>
          <td class="fit">
            <a class="btn" href="{{ url_for('edit_forms', file_id=form.id) }}"><i class="fas fa-edit"></i> Show Details</a>
            <a class="btn btn-success" href="{{ url_for('send',file_id=form.id) }}"><i class="fas fa-envelope"></i> Send</a>
            <a class="btn btn-info" href="{{ url_for('download',file_id=form.id) }}"><i class="fas fa-download"></i> Download</a>
            <a class="btn btn-danger" onClick="return confirm('Are you sure you wish to delete?');" href="{{ url_for('delete_file',file_id=form.id,) }}"><i class="fas fa-trash-alt"></i> Delete</a>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<div style="height:10vh;">
<h3>Dashboard</h3>
  <iframe style='position:absolute;background: inherit; width: 60vw; height:60%;' src={{url_for('line')}} frameborder="0"></iframe>
<iframe style='position:absolute;background: inherit; width: 30vw; height:60%; left: 65vw; overflow:hidden;' src={{url_for('pie')}} frameborder="0"></iframe></div>
{% else %}
<div class="centerdiv">
  <i class="fas fa-10x fa-comments-dollar"></i>
  <h1>No reclaim forms found</h1>
  <a class="btn btn-primary" style="margin-bottom:1vh"href="{{ url_for('new_form') }}"><i class="fas fa-folder-plus"></i> New reclaim form</a>
  </div>
{% endif %}
{% endblock %}

