{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "field.html" import render_field %}

{% block app_content %}
    <div>
    <h1>Settings</h1>
        <div class="col-md-4">
            <form method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.first_name) }}
                {{ wtf.form_field(form.last_name) }}
                {{ render_field(form.email, icon="fa-envelope") }}
                {{ wtf.form_field(form.accounting_email) }}
                {{ wtf.form_field(form.taggun) }}
                {{ wtf.form_field(form.dark) }}
                {{ wtf.form_field(form.submit, class="btn btn-primary") }}
            </form>
            <a class="btn btn-danger" style="margin-top:10px;" onClick="return confirm('Are you sure you wish to delete your account?');" href="{{ url_for('delete_user') }}"><i class="fas fa-trash-alt"></i> Delete account</a>
        </div>
    </div>
{% endblock %}