{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "field.html" import render_field %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('#email').on('focusout', function () {
       if ($(this).val() != "{{email|safe}}") {
       alert('If you change your email, you will be logged out and forced to verify it. This means you could lose access to your account. Are you sure you want to continue?');
           }
    });
    $('#taggun').on('focusout', function () {
       if (!($(this).is(":checked"))) {
       alert('Deselecting this option may slow the website when uploading receipts. Do wish to continue?');
           }
    });
});
</script>
{% endblock %}
{% block app_content %}
    <div>
    <h1>Settings</h1>
        <div class="col-md-4">
            <form method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.first_name,placeholder="First name") }}
                {{ wtf.form_field(form.last_name,placeholder="Surname") }}
                {{ render_field(form.email, icon="fa-envelope",placeholder="Email") }}
                {{ wtf.form_field(form.accounting_email,placeholder="Accounting email") }}
                {{ wtf.form_field(form.taggun) }}
                {{ wtf.form_field(form.dark) }}
                {{ wtf.form_field(form.submit, class="btn btn-primary") }}
            </form>
            <a class="btn btn-danger" style="margin-top:10px;" onClick="return confirm('Are you sure you wish to delete your account?');" href="{{ url_for('delete_user') }}"><i class="fas fa-trash-alt"></i> Delete account</a>
        </div>
    </div>
{% endblock %}