{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div>
    <h1>Verify your email</h1>
    <div class="col-md-4">
    <form method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.email, placeholder="Your email") }}
        {{ wtf.form_field(form.email2, placeholder="Repeat your email") }}
        {{ wtf.form_field(form.submit, class="custom_shadow btn btn-primary") }}
    </form>
    </div>
</div>
{% endblock %}
