.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#override td{
    vertical-align: middle;
}

.centerdiv{
    height:70vh;
    width: 100%;
	position: relative;

	text-align: center;
vertical-align: middle;
	margin:0 auto;}

big {
    font-size: 70px;
}

#total_row:hover{
    background-color:#FFFFFF;
}
