.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#override td{
    vertical-align: middle;
}

.centerdiv{
    height:70vh;
    width: 100%;
	position: relative;

	text-align: center;
    vertical-align: middle;
	margin:0 auto;}

big {
    font-size: 70px;
}

#total_row:hover{
    background-color: #FFFFFF;
}

.table td, .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (min-width: 766px) {
    #tablediv{
    margin-top: 1vh;
    height: 239px;
    overflow: auto;
}
}

@media (max-width: 766px) {
    .special_table{
      table-layout:fixed !important;
    }
    #tablediv{
    height: 80vh;
    }
}

@media (min-width: 1200px) and (max-width: 1260px) {
    .special_table{
      table-layout:fixed;
    }
}

/* from https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
@keyframes slideInFromTop {
  from {top: -100px;}
  5%{top:-4vh; visibility:visible;}
  95%{top:-4vh;}
  to {top: -100px; visibility: hidden;}
}

/* from https://codepen.io/RajRajeshDn/pen/xxZKewN */
.alert_wrapper .alert{
    z-index: 3;
	visibility: hidden;
    display: inline-block;
	width: auto;
	text-align: center;
    vertical-align: middle;
	animation: 8s linear 0s 1 slideInFromTop;
	/*https://getcssscan.com/css-box-shadow-examples*/
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.alert_wrapper{
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 999;
}

.icon{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}