.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#override td{
    vertical-align: middle;
}

.centerdiv{
    height:70vh;
    width: 100%;
	position: relative;

	text-align: center;
vertical-align: middle;
	margin:0 auto;}

big {
    font-size: 70px;
}

#total_row{
    background-color:#222222;
}
#total_row:hover{
    background-color:#222222;
}

.table td, .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (min-width: 766px) {
    #tablediv{
    margin-top: 1vh;
    height: 239px;
    overflow: auto;
}
}

@media (max-width: 766px) {
    .special_table{
      table-layout:fixed !important;
    }
    #tablediv{
    height: 80vh;
    }
}

@media (min-width: 1200px) and (max-width: 1260px) {
    .special_table{
      table-layout:fixed;
    }
}