{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        {% if title %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Send for authorisation</h1>
        {% endif %}
        <div class="col-md-4">
            <form method="post" role="form" autocomplete="off"}>
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.email_supervisor) }}
                {{ wtf.form_field(form.submit, class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}