{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}
{{ title }}
{% else %}
Accounting application
{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block head %}
{{ fontawesome_html() }}
{{super()}}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Jakob's IA</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{% if request.path=='/view_forms' %} active {% endif %}">
            <a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li {% if request.path=="/settings" %} class="active"{% endif %}>
                <a href="{{ url_for('settings') }}"><i class="fas fa-user-cog"></i> Settings</a></li>

            {% if current_user.is_anonymous %}
            <li {% if request.path=='/login' %} class=" active"{% endif %}><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
            {% else %}
            <li {% if request.path=="/logout" %} class="active"{% endif %}><a href="{{ url_for('logout') }}">
                <i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


{% endblock %}

{% block content %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for message in messages %}
        <div class="{{ message[0] }}" role="alert">{{ message[1] }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
</div>
{% endblock content %}
