{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
    <h1>Settings</h1>
        <div class="col-md-4">
            <form method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.first_name) }}
                {{ wtf.form_field(form.last_name) }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.accounting_email) }}
                {{ wtf.form_field(form.taggun) }}
                {{ wtf.form_field(form.submit, class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}